<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="en-us"> <![endif]-->
<!--[if !IE]> > <![endif]-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <title>Webtalk Crowdfunding - Dashboard</title>
    <meta charset='utf-8' content='text/html' http-equiv='content-type'>
    <meta content='ie=edge,chrome=1' http-equiv='x-ua-compatible'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1' media='(device-height: 568px)' name='viewport'>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='translucent-black' name='apple-mobile-web-app-status-bar-style'>
    <link sizes="152x152" rel="apple-icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/apple-icon-152x152-09f9af5a.png" type="image/png" />
    <link sizes="144x144" rel="apple-icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/apple-icon-144x144-15f713ca.png" type="image/png" />
    <link sizes="114x114" rel="apple-icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/apple-icon-114x114-a48d4de0.png" type="image/png" />
    <link sizes="72x72" rel="apple-icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/apple-icon-72x72-10059f18.png" type="image/png" />
    <link rel="apple-icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/apple-icon-4f246f84.png" type="image/png" />
    <link rel="shortcut icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/favicon-96x96-98c68e62.png" type="image/png" />
    <link rel="shortcut icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/favicon-32x32-ef231829.png" type="image/png" />
    <link rel="shortcut icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/favicon-16x16-40d249f6.png" type="image/png" />
    <link rel="icon" type="image/ico" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="http://d306bcb0kbm0de.cloudfront.net/assets/stylesheets/crowdfunding-c0d3c4fb.css" rel="stylesheet" type="text/css" media="all" />
    <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/vendors/modernizr-82df9d07.js" type="text/javascript"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      
    <![endif]-->
    <script>
      var _gaq=[['_setAccount','UA-22672818-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </head>
  <body class='page crowdfunding'>
    <div class='main-wrapper'>
      <header class='cf header header--crowdfunding'>
        <div class='wrapper'>
          <h1 class='cf float--left'>
            <a class='logo float--left flush--ends' href='/'>
              <i class='icon icon-logo'></i>
            </a>
          </h1>
          <ul class='list--horizontal float--right flush--ends header__nav'>
            <li class='item--status'>
              <span class='item--status__msg'>Welcome Back,</span>
              <strong class='item--status__name'>{{name}}</strong>
              <a class='btn btn--default btn--small' href='/logout'>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class='main-content'>
        <div class='wrapper'>
          <div class='alert success cf'>
            <i class='info-icon float--left'></i>
            <p class='float--left push-half--left'>
              Thank you for joining Webtalk's Pre-Launch! Use the email fields below to send invites and start building your network now. Importing contacts from your email? Simply use the CSV uploader to upload your contacts with ease.
            </p>
            <a class='close js-close-alert' href='javascript:;'>
              <i class='icon icon-close'></i>
            </a>
          </div>
          <div class='box box--white push--bottom push-half--top'>
            <div class='island soft-double--top'>
              <div class='stats'>
                <div class='grid'><div class='grid__item one-whole palm--one-half desk--one-quarter grid--center push--bottom'>
                    <div class='stats__item stats__item--invite'>
                      <strong class='stats__item__num'>
                        {{network-table.invites.total}}
                        <canvas id='canvasInvite'></canvas>
                      </strong>
                      <p class='soft-half--top'>Total Invites Sent</p>
                    </div>
                  </div><div class='grid__item one-whole palm--one-half desk--one-quarter grid--center push--bottom'>
                    <div class='stats__item stats__item--waitlist'>
                      <strong class='stats__item__num'>
                        {{network-table.joined-waitlist.total}}
                        <canvas id='canvasWaitlist'></canvas>
                      </strong>
                      <p class='soft-half--top'>Joined Waitlist</p>
                    </div>
                  </div><div class='grid__item one-whole palm--one-half desk--one-quarter grid--center push--bottom'>
                    <div class='stats__item stats__item--prelaunch'>
                      <strong class='stats__item__num'>
                        {{network-table.joined-prelaunch.total}}
                        <canvas id='canvasPrelaunch'></canvas>
                      </strong>
                      <p class='soft-half--top'>Joined Pre-Launch</p>
                    </div>
                  </div><div class='grid__item one-whole palm--one-half desk--one-quarter grid--center push--bottom'>
                    <div class='stats__item stats__item--commissions'>
                      <strong class='stats__item__num'>
                        {{network-table.joined-prelaunch.total|monetizise}}
                        <canvas id='canvasCommissions'></canvas>
                      </strong>
                      <p class='soft-half--top'>Pending Commissions</p>
                    </div>
                  </div></div>
              </div>
            </div>
          </div>
          <div class='box box--white push--bottom'>
            <div class='island'>
              <div class='send-email-invites'>
                <form action='' id='email-form'>
                  {% csrf-field %}
                  <div class='grid'><div class='grid__item one-whole desk--seven-tenths push--bottom'>
                      <div class='send-email-invites__emails'>
                        <fieldset>
                          <legend>
                            <i class='icon-send-email'></i>
                            Send Email Invites
                          </legend>
                          <div class='grid'><div class='grid__item one-whole palm--one-half push--botton'>
                              <div class='form-field'>
                                <input placeholder='Enter Email Address' type='text'>
                                <i class='icon icon-message'></i>
                              </div>
                            </div><div class='grid__item one-whole palm--one-half push--botton'>
                              <div class='form-field'>
                                <input placeholder='Enter Email Address' type='text'>
                                <i class='icon icon-message'></i>
                              </div>
                            </div><div class='grid__item one-whole palm--one-half push--botton'>
                              <div class='form-field'>
                                <input placeholder='Enter Email Address' type='text'>
                                <i class='icon icon-message'></i>
                              </div>
                            </div><div class='grid__item one-whole palm--one-half push--botton'>
                              <div class='form-field'>
                                <input placeholder='Enter Email Address' type='text'>
                                <i class='icon icon-message'></i>
                              </div>
                            </div><div class='grid__item one-whole palm--one-half push--botton'>
                              <div class='form-field'>
                                <input placeholder='Enter Email Address' type='text'>
                                <i class='icon icon-message'></i>
                              </div>
                            </div><div class='grid__item one-whole palm--one-half push--botton'>
                              <div class='form-field'>
                                <input placeholder='Enter Email Address' type='text'>
                                <i class='icon icon-message'></i>
                              </div>
                            </div><div class='grid__item one-whole palm--one-half push--botton'>
                              <div class='form-field'>
                                <input placeholder='Enter Email Address' type='text'>
                                <i class='icon icon-message'></i>
                              </div>
                            </div><div class='grid__item one-whole palm--one-half push--botton'>
                              <div class='form-field'>
                                <input placeholder='Enter Email Address' type='text'>
                                <i class='icon icon-message'></i>
                              </div>
                            </div><div class='grid__item one-whole palm--one-half push--botton'>
                              <div class='form-field'>
                                <input placeholder='Enter Email Address' type='text'>
                                <i class='icon icon-message'></i>
                              </div>
                            </div><div class='grid__item one-whole palm--one-half push--botton'>
                              <div class='form-field'>
                                <input placeholder='Enter Email Address' type='text'>
                                <i class='icon icon-message'></i>
                              </div>
                            </div><div class='grid__item one-whole'>
                              <button class='btn btn--default btn--full' data-role='send-invitations' type='button'>
                                <i class='icons-paper-plane push-quarter--left'></i>
                                Send Email Invites
                              </button>
                            </div></div>
                        </fieldset>
                      </div>
                    </div><div class='grid__item one-whole desk--three-tenths push--bottom'>
                      <div class='send-email-invites__import'>
                        <div class='push--bottom'>
                          <p class='text--center'>
                            <strong>YOUR REFERRAL LINK</strong>
                          </p>
                          <p class='text--center'>
                            <a class='link--color' href='{{join_url}}'>{{join_url}}</a>
                          </p>
                        </div>
                        <div class='import-upload-file'>
                          <div class='icon-import'>
                            <i class='icon-csv'></i>
                            <strong>Importing contacts from email?</strong>
                          </div>
                          <a class='import-upload-file__input' href='javascript:;'>
                            Upload CSV file
                            <input class='input--file' placeholder=' ' type='file' value=' '>
                          </a>
                          <div class='text--center'>
                            <small>
                              <a class='link--color' href='javascript:;'>
                                <i class='icon-question'></i>
                                How to download CSV File?
                              </a>
                            </small>
                          </div>
                        </div>
                      </div>
                    </div></div>
                </form>
              </div>
            </div>
          </div>
          <div class='box push--bottom'>
            <div class='tables'>
              <div class='tables__header cf'>
                <div class='float--left'>
                  <span class='tag tag--green'>
                    <span class='show-desk'>Level</span>
                    1
                  </span>
                  <h3>Your Referrals</h3>
                </div>
                <div data-role='pager-view'>
                  <!-- backbone pager view -->
                </div>
              </div>
              <table class='tables__table'>
                <thead><tr class='grid'><th class='grid__item one-third'>
                      <span>Name/Email</span>
                    </th><th class='grid__item one-third'>
                      <span>Date Invited</span>
                    </th><th class='grid__item one-third'>
                      <span>Status</span>
                    </th></tr></thead>
                <tbody><tr class='grid__item one-third' data-role='table-col-name'>
                    <!-- backbone name row view -->
                  </tr><tr class='grid__item one-third' data-role='table-col-date'>
                    <!-- backbone date row view -->
                  </tr><tr class='grid__item one-third' data-role='table-col-status'>
                    <!-- backbone status row view -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class='box push--bottom'>
            <div class='tables'>
              <div class='tables__header'>
                <h3>Your Referral Network</h3>
              </div>
              <table class='tables__table'>
                <thead><tr class='grid'><th class='grid__item one-fifth'>
                      <span class='bluegray--color'>
                        <i class='icon-t icon-t--levels bluegray--color'></i>
                        Levels
                      </span>
                    </th><th class='grid__item one-fifth'>
                      <span class='blue-light--color'>
                        <i class='icon-t icon-t--invited blue-light--color'></i>
                        Invited
                      </span>
                    </th><th class='grid__item one-fifth'>
                      <span class='red--color'>
                        <i class='icon-t icon-t--joined-w red--color'></i>
                        <i class='show-desk'>Joined</i>
                        Waitlist
                      </span>
                    </th><th class='grid__item one-fifth'>
                      <span class='orange--color-mid'>
                        <i class='icon-t icon-t--joined-p orange--color-mid'></i>
                        <i class='show-desk'>Joined</i>
                        Pre-Launch
                      </span>
                    </th><th class='grid__item one-fifth'>
                      <span class='altern-blue-dark-color'>
                        <i class='icon-t icon-t--commission altern-blue-dark-color'></i>
                        <i class='show-mob'>Comm.</i>
                        <i class='show-desk'>Commissions</i>
                        Pending
                      </span>
                    </th></tr></thead><tbody class='grid--full'><tr class='grid__item one-fifth'>
                    <td>
                      <span class='bluegray--color'>1</span>
                    </td>
                    <td>
                      <span class='bluegray--color'>2</span>
                    </td>
                    <td>
                      <span class='bluegray--color'>3</span>
                    </td>
                    <td>
                      <span class='bluegray--color'>4</span>
                    </td>
                    <td>
                      <span class='bluegray--color'>5</span>
                    </td>
                    <td>
                      <strong class='bluegray--color'>Total</strong>
                    </td>
                  </tr><tr class='grid__item one-fifth'>
                    {% for j in network-table.invites.levels %}
                    <td>
                      <span class='blue-light--color'>{{j}}</span>
                    </td>
                    {% endfor %}
                    <td>
                      <strong class='blue-light--color'>{{network-table.invites.total}}</strong>
                    </td>
                  </tr><tr class='grid__item one-fifth'>
                    {% for i in network-table.joined-waitlist.levels %}
                    <td>
                      <span class='red--color'>{{i}}</span>
                    </td>
                    {% endfor %}
                    <td>
                      <strong class='red--color'>{{network-table.joined-waitlist.total}}</strong>
                    </td>
                  </tr><tr class='grid__item one-fifth'>
                    {% for k in network-table.joined-prelaunch.levels %}
                    <td>
                      <span class='orange--color-mid'>{{k}}</span>
                    </td>
                    {% endfor %}
                    <td>
                      <strong class='orange--color-mid'>{{network-table.joined-prelaunch.total}}</strong>
                    </td>
                  </tr><tr class='grid__item one-fifth'>
                    {% for p in network-table.joined-prelaunch.levels%}
                    <td>
                      <span class='altern-blue-dark-color'>{{p|monetizise}}</span>
                    </td>
                    {% endfor %}
                    <td>
                      <strong class='altern-blue-dark-color'>{{network-table.joined-prelaunch.total|monetizise}}</strong>
                    </td>
                  </tr></tbody></table>
            </div>
          </div>
          <div class='box push--bottom'>
            <p class='soft--sides text--center'>
              <small>© 2015 Webtalk</small>
            </p>
          </div>
        </div>
        <script id='table-col-name-template' type='text/template'>
          <td><%= model.escape('email') %></td>
        </script>
        <script id='table-col-date-template' type='text/template'>
          <td><%= moment(model.escape('time')).format('MMM D, YYYY') %></td>
        </script>
        <script id='table-col-status-template' type='text/template'>
          <td><span class='red--color'><%= model.escape('status') %></span></td>
        </script>
        <script id='table-pager-template' type='text/template'>
          <ul class='pager-btns'><li data-role="first"><a href='#'>First</a></li><ul class='pager-btns__dropdown js-pager-dropdown'><div class='ul pager-btns__dropdown_ab' data-role="pages-items"></div></ul><li data-role="last"><a href='#'>Last</a></li></ul>
        </script>
        <script id='table-page-template' type='text/template'>
          <a href='#' data-goto="<%= page %>"><%= page %></a>
        </script>
        <script id='table-more-page-template' type='text/template'>
          <a href='#' data-goto="<%= page %>"><span>...</span></a>
        </script>
        <div aria-hidden='true' aria-labelledby='myModalLabel' class='modal-invitation modal fade' id='modal-invitation' role='dialog' tabindex='-1'>
          <div class='modal-dialog'>
            <div class='modal__content'>
              <div class='modal__body text--center'>
                <div class='modal-invitation__image'>
                  <img src="http://d306bcb0kbm0de.cloudfront.net/assets/images/cf/invitation-successful-12b0749b.png" />
                </div>
                <h2 class='modal-title'>Congrats! Your invitations have been sent successfully!</h2>
                <p>Keep inviting everyone you know and watch your referral network grow</p>
                <button aria-hidden='true' aria-label='Close' class='btn btn--default modal__close' data-dismiss='modal' type='button'>Close</button>
              </div>
            </div>
          </div>
        </div>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/vendors/jquery-abe87f4f.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/vendors/modernizr-82df9d07.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/crowdfunding-0bad6275.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/application-43c8f6be.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/vendors/papaparse.min-fdf24b36.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/vendors/underscore-min-32043809.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/vendors/backbone-min-174dcbc6.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/vendors/moment.min-4bd4653e.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/paginated-table-5a00c3a4.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/dashboard-bbf8133c.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/dashboard-canvas-86611b8d.js" type="text/javascript"></script>
      </div>
    </div>
  </body>
</html>
