<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="en-us"> <![endif]-->
<!--[if !IE]> > <![endif]-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <title>Webtalk Crowdfunding -</title>
    <meta charset='utf-8' content='text/html' http-equiv='content-type'>
    <meta content='gzip' http-equiv='content-encoding'>
    <meta content='ie=edge,chrome=1' http-equiv='x-ua-compatible'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1' media='(device-height: 568px)' name='viewport'>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='translucent-black' name='apple-mobile-web-app-status-bar-style'>
    <link sizes="152x152" rel="apple-icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/apple-icon-152x152-09f9af5a.png" type="image/png" />
    <link sizes="144x144" rel="apple-icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/apple-icon-144x144-15f713ca.png" type="image/png" />
    <link sizes="114x114" rel="apple-icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/apple-icon-114x114-a48d4de0.png" type="image/png" />
    <link sizes="72x72" rel="apple-icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/apple-icon-72x72-10059f18.png" type="image/png" />
    <link rel="apple-icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/apple-icon-4f246f84.png" type="image/png" />
    <link rel="shortcut icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/favicon-96x96-98c68e62.png" type="image/png" />
    <link rel="shortcut icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/favicon-32x32-ef231829.png" type="image/png" />
    <link rel="shortcut icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/favicon-16x16-40d249f6.png" type="image/png" />
    <link rel="icon" type="image/ico" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/favicon.ico" />
    <script src='https://apis.google.com/js/client.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' type='text/javascript'></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="https://d2zowqeld1gvuc.cloudfront.net/assets/stylesheets/crowdfunding-2a512226.css" rel="stylesheet" type="text/css" media="all" />
    <script src="https://d2zowqeld1gvuc.cloudfront.net/assets/javascripts/vendors/modernizr-70774af3.js" type="text/javascript"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      
    <![endif]-->
    <script>
      var _gaq=[['_setAccount','UA-22672818-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </head>
  <body class='page crowdfunding'>
    <div class='main-wrapper'>
      <header class='cf header header--crowdfunding'>
        <div class='wrapper'>
          <h1 class='flush--ends text--center'>
            <a class='logo' href='/'>
              <i class='icon icon-logo'></i>
            </a>
          </h1>
        </div>
      </header>
      <div class='main-content'>
        <div class='spinner-container'>
          <div class='spinner white big'>
            <div class='bounce1'></div>
            <div class='bounce2'></div>
            <div class='bounce3'></div>
          </div>
        </div>
        <div class='wrapper--smaller push--top-crowd'>
          <div class='box box--white soft-double soft-double-crowd login--box'>
            <div class='text--center'>
              <h2 class='box__title box__title--color__inherit push--bottom'>Log into Dashboard</h2>
              <form action='/login' class='js-loginValidation' method='post'>
                {% csrf-field %}
                <div class='form-content'>
                  <div class='form-field field-only field-first'>
                    <i class='icon icon-message'></i>
                    <input class='required input--text' name='email' placeholder='Enter Email Address' type='email'>
                  </div>
                  <div class='form-field field-only'>
                    <i class='icon icon-padlock'></i>
                    <input class='input--text required' name='password' placeholder='Password' type='password'>
                    {% if error %}
                    <div class='error soft--top' id='credentialsError' style='color:red;'>
                      The email and password you entered don't match.
                    </div>
                    {% endif %}
                  </div>
                  <div class='form-field soft--top'>
                    <input class='btn btn--blue__gradient btn--full' type='submit' value='Login'>
                  </div>
                  <div class='tex--center'>
                    <span>
                      Not yet registered with Webtalk?
                      <a class='link--color' href='signup'>Click Here</a>
                      to start building your network today
                    </span>
                  </div>
                  <small>
                    <a class='link--color' href='/recover-password'>Forgot your password?</a>
                  </small>
                </div>
              </form>
            </div>
          </div>
          <div class='box soft soft-crowd'>
            <p class='text--center'>
              <small>© 2015 Webtalk</small>
            </p>
          </div>
        </div>
        <script src="https://d2zowqeld1gvuc.cloudfront.net/assets/javascripts/vendors/jquery-5fc00a3f.js" type="text/javascript"></script>
        
        <script src="https://d2zowqeld1gvuc.cloudfront.net/assets/javascripts/crowdfunding-48b40174.js" type="text/javascript"></script>
      </div>
    </div>
  </body>
</html>
