<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="en-us"> <![endif]-->
<!--[if !IE]> > <![endif]-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <title>Webtalk Crowdfunding - New Account</title>
    <meta charset='utf-8' content='text/html' http-equiv='content-type'>
    <meta content='ie=edge,chrome=1' http-equiv='x-ua-compatible'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1' media='(device-height: 568px)' name='viewport'>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='translucent-black' name='apple-mobile-web-app-status-bar-style'>
    <link sizes="152x152" rel="apple-icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/apple-icon-152x152-09f9af5a.png" type="image/png" />
    <link sizes="144x144" rel="apple-icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/apple-icon-144x144-15f713ca.png" type="image/png" />
    <link sizes="114x114" rel="apple-icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/apple-icon-114x114-a48d4de0.png" type="image/png" />
    <link sizes="72x72" rel="apple-icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/apple-icon-72x72-10059f18.png" type="image/png" />
    <link rel="apple-icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/apple-icon-4f246f84.png" type="image/png" />
    <link rel="shortcut icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/favicon-96x96-98c68e62.png" type="image/png" />
    <link rel="shortcut icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/favicon-32x32-ef231829.png" type="image/png" />
    <link rel="shortcut icon" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/favicon-16x16-40d249f6.png" type="image/png" />
    <link rel="icon" type="image/ico" href="http://d306bcb0kbm0de.cloudfront.net/assets/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link href="http://d306bcb0kbm0de.cloudfront.net/assets/stylesheets/crowdfunding-4482f7fa.css" rel="stylesheet" type="text/css" media="all" />
    <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/vendors/modernizr-70774af3.js" type="text/javascript"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      
    <![endif]-->
    <script>
      var _gaq=[['_setAccount','UA-22672818-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </head>
  <body class='page crowdfunding'>
    <div class='main-wrapper'>
      <header class='cf header header--crowdfunding'>
        <div class='wrapper'>
          <h1 class='flush--ends text--center'>
            <a class='logo' href='/'>
              <i class='icon icon-logo'></i>
            </a>
          </h1>
        </div>
      </header>
      <div class='main-content'>
        <div class='spinner-container' id='spinner'>
          <div class='spinner white big'>
            <div class='bounce1'></div>
            <div class='bounce2'></div>
            <div class='bounce3'></div>
          </div>
        </div>
        <div class='wrapper--smaller push--top-crowd'>
          <div class='box box--white soft-double soft-double-crowd login--box'>
            <div class='text--center'>
              <h2 class='box__title box__title--color__inherit push--bottom'>Create a New Account</h2>
              <form action='/user-creation' class='js-newAccountValidation' id='user_data_form' method='post'>
                {% csrf-field %}
                <div class='form-content'>
                  <div class='form-field field-only field-first'>
                    <i class='icon icon-profile'></i>
                    <input class='required input--text' id='first_name' name='first_name' placeholder='First Name' type='text'>
                  </div>
                  <div class='form-field field-only field-second'>
                    <i class='icon icon-profile'></i>
                    <input class='required input--text' id='last_name' name='last_name' placeholder='Last Name' type='name'>
                  </div>
                  <div class='form-field field-only field-first'>
                    <i class='icon icon-message'></i>
                    <input class='required input--text' id='email' name='email' placeholder='Enter Email Address' type='email'>
                  </div>
                  <div class='form-field field-only field-second'>
                    <i class='icon icon-message'></i>
                    <input autocomplete='false' class='required input--text' name='inputConfirmEmail' placeholder='Confirm Email' type='email'>
                  </div>
                  <div class='form-field field-only field-first'>
                    <i class='icon icon-padlock'></i>
                    <input class='required input--text' id='password' name='password' placeholder='Create Temporary Password' type='password'>
                  </div>
                  <div class='form-field field-only'>
                    <i class='icon icon-padlock'></i>
                    <input class='required input--text' id='pass-second' name='inputConfirmPassword' placeholder='Confirm Password' type='password'>
                  </div>
                  <div class='form-field'>
                    <span class='span--gray'>
                      <b>Task:</b>
                      Complete the challenge to continue
                    </span>
                    <div class='div-container'>
                      <img id="stripe-logo-wt" src="http://d306bcb0kbm0de.cloudfront.net/assets/images/webtalk-bubble-d131257b.png" />
                    </div>
                  </div>
                  <div class='form-field'>
                    <div class='g-recaptcha' data-callback='onReCapcha' data-expired-callback='onExpires' data-sitekey='6Ler3xETAAAAAO9UMVyem83maqwspXrA6PFvWrZv'></div>
                    <div class='error' id='reCaptchaError' style='color:red'></div>
                  </div>
                  <div class='form-field soft--top'>
                    <input class='btn btn--blue__gradient btn--full' id='btn-continue' placeholder='Type the letters above' type='button' value='Continue to Checkout'>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class='box soft soft-crowd'>
            <p class='text--center'>
              <small>© 2015 Webtalk</small>
            </p>
          </div>
        </div>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/vendors/jquery-5fc00a3f.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/vendors/modernizr-70774af3.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/crowdfunding-0bad6275.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/application-2af6fad9.js" type="text/javascript"></script>
        <script src="http://d306bcb0kbm0de.cloudfront.net/assets/javascripts/new-account-54643b28.js" type="text/javascript"></script>
        <script src='https://checkout.stripe.com/checkout.js'></script>
        <script>
          window.stripe_key = "{{public_stripe_key}}";
        </script>
        <div class='modal'></div>
      </div>
    </div>
  </body>
</html>
