<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-us"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10 lt-ie9" lang="en-us"> <![endif]-->
<!--[if lt IE 10]> <html class="no-js lt-ie10" lang="en-us"> <![endif]-->
<!--[if !IE]> > <![endif]-->
<html class='no-js' lang='en'>
  <!-- <![endif] -->
  <head>
    <title>Webtalk</title>
    <meta charset='utf-8' content='text/html' http-equiv='content-type'>
    <meta content='gzip' http-equiv='content-encoding'>
    <meta content='ie=edge,chrome=1' http-equiv='x-ua-compatible'>
    <meta content='' name='description'>
    <meta content='' name='author'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width' name='viewport'>
    <meta content='initial-scale=1.0,user-scalable=no,maximum-scale=1' media='(device-height: 568px)' name='viewport'>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='translucent-black' name='apple-mobile-web-app-status-bar-style'>
    <link sizes="152x152" rel="apple-icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/apple-icon-152x152-09f9af5a.png" type="image/png" />
    <link sizes="144x144" rel="apple-icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/apple-icon-144x144-15f713ca.png" type="image/png" />
    <link sizes="114x114" rel="apple-icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/apple-icon-114x114-a48d4de0.png" type="image/png" />
    <link sizes="72x72" rel="apple-icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/apple-icon-72x72-10059f18.png" type="image/png" />
    <link rel="apple-icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/apple-icon-4f246f84.png" type="image/png" />
    <link rel="shortcut icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/favicon-96x96-98c68e62.png" type="image/png" />
    <link rel="shortcut icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/favicon-32x32-ef231829.png" type="image/png" />
    <link rel="shortcut icon" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/favicon-16x16-40d249f6.png" type="image/png" />
    <link rel="icon" type="image/ico" href="https://d2zowqeld1gvuc.cloudfront.net/assets/images/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="https://d2zowqeld1gvuc.cloudfront.net/assets/stylesheets/maintenance-775b5f8a.css" rel="stylesheet" type="text/css" media="all" />
    
    <!--[if (gte IE 6)&(lte IE 8)]>
      
    <![endif]-->
    <script>
      var _gaq=[['_setAccount','UA-22672818-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </head>
  <body class='page'>
    <div class='main-wrapper'>
      <div class='main-content'>
        <div class='main-container'>
          <div class='wrapper'>
            <div class='maintenance-box'>
              <div class='grid'><div class='grid__item lap--one-half'>
                  <h1 class='logo'>
                    <a href='/'>
                      <img src="https://d2zowqeld1gvuc.cloudfront.net/assets/images/cf/logo-maintenance-3201b437.png" />
                    </a>
                  </h1>
                  <h2 class='maintenance__title'>No worries, you're in the right place.</h2>
                  <p>We are upgrading Webtalk for you and we will be back in an hour. In the meantime, please watch our awesome video! Thanks for using Webtalk.</p>
                </div><div class='grid__item lap--one-half'>
                  <div class='maintenance-video'>
                    <iframe allowfullscreen='' frameborder='0' height='303' id='nofocusvideo' mozallowfullscreen='' src='https://player.vimeo.com/video/148959003?title=0&amp;byline=0&amp;portrait=0' webkitallowfullscreen='' width='517'></iframe>
                  </div>
                </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script async='' defer='defer' src='https://apis.google.com/js/platform.js'></script>
  </body>
</html>
